@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1:Verdana, Geneva, tahoma, sans-serif;
    --fonte2:"Passion One",sans-serif;
    --fonte3:"Sriracha", cursive;
}
*{
    margin: 0px;
    padding: 0px; 
    
    /* configurações gerais ou reset de todos os elementos. Fazendo com que tire qualquer configuração padrão do navegador de margem e padding*/
}

html, body{
    min-height: 100vh; /* tamanho minimo do conteudo apresentado na tela. Neste exeplo precisamos deixar o conteudo com batrra de rolagem para fazer o efeito parallax. Se o conteudo não tiver barra de rolagem não teria como fazer */
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header{   /*Aqui vamos mexer no titulo e o link "conforme esta no html"*/
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{ /*Aqui vamos mexer apenas no titulo (H1 do header "Cordel Moderno")*/
    padding: 50px;
    font-variant: small-caps;   /*Continua tendo todas as letras mauisulas, porém ainda sim a formatação para as primeiras letras serem maiores permanece*/
    /*Tudo em letra maiuscula = text-transform: uppercase;*/
    font-family: var(--fonte2);
    font-size: 5vw;
}

header > p {
    padding-bottom: 50px; /*Delimitando os espaços internos do cabeçalho, neste caso*/
}

header a, footer a { /*configurando o link */
    color: white; /*cor das letras*/
    text-decoration:none; /*tirando formatação de decoração como underline. Deixando em NONE, podemos tirar qualquer decoração*/
    font-weight: bolder; /*Deixando as letras em negrito*/
}

header a:hover, footer a:hover{ /*a mesma configuração para o link do header, é o mesmo do footer, então podemos aproveitar a mesma configuração do bloco  para ambos*/
    text-decoration:underline;
}  /* Com efeito hover, ao passar o mouse em cima do link, o item e evidenciado, aparecendo um sublinhado embaixo*/

section{ /*criadno uma configuração geral para todas as section*/
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*2 em espaçamento duplo*/
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}
section > p {
    padding-bottom: 1em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(59, 53, 53);
    color: white;
    box-shadow: inset 6px 6px 10px 0px black;
     background-size: cover;
     background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(43, 37, 37, 0);
    display: inline-block;
    padding: 6px;
    text-shadow: 3px 2px 2px black;
}

section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    
}

section#img02{
    background-image: url(imagens/background002.jpg);
    
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}