@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%; */
}


body {
    background-image: linear-gradient( to right , #F1D8C9, #F2C3A7);
} 


main {
    background-color: white;
    border-radius: 30px;
    box-shadow: 5PX 5PX 15PX rgba(141, 97, 72, 0.705);
    width: 600px;
    padding: 10px;
    margin: auto;
}


h1 {
    color: #F39209 ;
    text-align: center;
    text-shadow: 1px 1px 2px #704a169f;
}


h2{
    color:#125189 ;

}



p {
    text-align: justify;  

}





